* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
	background-color: white;
    display: flex;
    flex-direction: column;
}

/*banniere*/
#banniere{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(src/img/banniere.jpg) no-repeat;
	background-size: cover;
}
#banniere a{
    color: #27AE60;
    text-decoration: none;
}
#banniere h1{
    background-color: #17202A;
	margin: 0;
	padding: 0 15%;
}

/*menu de navigation*/
nav{
    width: 100%;
    margin: 0 auto;
    background-color: #17202A;
    position: sticky;
    top: 0px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-top: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: #27AE60;
    border-top: 2px solid #27AE60;
}

.sous{ /*sous menu*/
    display: none;
    background-color: #17202A;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous a, .sous a:hover{
    border-top: none;
}

/*contenu de la page*/
section{
    flex: 1;
}

/*pied de page*/
footer{
	background-color: #17202A;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	color: #fffcf2;
}
footer h3{
	align-self: center;
	padding: 0 10px;
}

/*responsive*/
@media (max-width: 780px){ /*smartphone*/
    nav{
        position: static;
    }
    nav ul{
        position: static;
        flex-flow: column wrap;
        width: 100%;
    }
    footer{
        display: block;
    }
    #images div{
        display: block;
        width: 80vh;
    }
}
@media print{
    nav{
        display: none;
    }
    #images{
        display: none;
    }
    footer{
        text-align: left;
    }
    footer h3{
        display: block;
        padding: 10px;
    }
    footer img{
        float: right;
    }
}