* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-color: white;
}

/* Menu */

header div {
    background-image: url("banner.jpg");
    background-size: cover;
    padding: 50px 25%;
}

/* Titres */

h1 {
    text-align: center;
    color: #27AE60;
    background-color: #17202A;
}

nav {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav li {
    float: left;
    width: 25%;
    text-align: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #17202A;
    border-top: 2px solid transparent;
    padding: 10px 0;
}

nav a:hover {
    color: #27AE60;
    border-top: 2px solid #27AE60;
}

/* Menu déroulant */

nav ul li ul { 
    display: none;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
    width: 100%;
}
     
nav ul li:hover ul li {
    float:none;
}

nav ul li ul li a:hover{
    border-top: 2px solid transparent;
    color: #27AE60;
}

/* contenu */

.content {
    padding: 20px;
    background-color: white;
}

.content2 {
    text-align: center;
}

.content2 div {
    background-color: #27AE60;
    padding: 25px;
}

/* Images */
.images {
    padding: 50px;
}

.images div {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    background-color: #1E8449;
    box-shadow: 3px  3px 3px #17202A;
    border-radius: 10px;
    height: 200px;
}

.images img {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    max-height: 75%;
    display: block;
}

/* footer */

footer {
    background-color: #17202A;
    height: 300px;
    width: 100%;
    bottom: 0;
    color: #fffcf2;
    text-align: center;
}

footer h3 {
    display: inline-block;
    padding: 50px;
}
